[worldserver]

#
#    DuelReset.Cooldowns
#        Description: Reset all cooldowns before duel starts and restore them when duel ends.
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

DuelReset.Cooldowns = 1

#    DuelReset.HealthMana
#        Description: Reset health and mana before duel starts and restore them when duel ends.
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

DuelReset.HealthMana = 1

#    DuelReset.CooldownAge
#        Description: Required time of a cooldown passed for it to be reset. Measured in seconds since the cooldown started.
#        Default:     30  - (Enabled)
#                     0  - (Disabled)

DuelReset.CooldownAge = 30

#    DuelReset.Zones
#        Description: Whitelist of ZoneIDs seperated by Semicolons (;) where the reset for cooldowns and health/mana is enabled.
#                     If Zones is set to any, the set Areas do not matter. The reset will always be applied.
#                     If Zones is set to none, only the set Areas matter.
#
#        Examples:    "876;3817" - (GM Island;Testing)
#                     "0" - (none)
#                     ""  - (any)
#        Default:     "0" - (none)

DuelReset.Zones = "0"

#    DuelReset.Areas
#        Description: Whitelist of AreaIDs seperated by Semicolons (;) where the reset for cooldowns and health/mana is enabled.
#                     If Areas is set to any or none, only the set Zones matter.
#
#        Examples:    "85;1" - (Tirisfal Glades;Dun Morogh)
#                     "0" - (none)
#                     ""  - (any)
#        Default:     "12;14;809"
#                     Elwynn Forest;Durotar;Gates of Ironforge) + GrizzHills - Voldrune Mall(4207), PvpZone5 Arathi Highlands(2401), PvpZone1 Throne of Elements(3615), Tanaris PvP Zone2 (987),
#                     PvPzone3 Winterspring (2241) e PvPzone4 Silithus (2477), 3817 = Testing(caixa area de GM)

#DuelReset.Areas = "12;14;809, "
DuelReset.Areas = "12;14;809;4207;2401;3615;987;2241;2477;3817"


# to do
# DuelReset.Areas.Phasing
#        Description: Whitelist of AreaIDs separated by Semicolons (;) where phasing duels are enabled.
#        Default: "4207" - (Mall)
#
# DuelReset.Areas.Phasing = "4207"
